DATABASE_URL=postgresql://mlbd:postgres@db:5432/taskhive
TEST_DATABASE_URL=postgresql://mlbd:postgres@localhost:5433/taskhive_test
SECRET_KEY=your-secret-key-here
BACKEND_CORS_ORIGINS=["http://localhost:5173","http://localhost:5174"]
MAIL_SERVER=mail
MAIL_PORT=1025
ALGORITHM=HS256
TOKEN_EXPIRE_HOURS=1
VERIFICATION_TOKEN_EXPIRE_HOURS=24